@import '~bootstrap/scss/bootstrap';
@import './config.scss';

@font-face {
    font-family: 'Biennale Regular';
    font-weight: 'normal';
    font-style: 'normal';
    src: url('../public/fonts/BiennaleRegular.otf') format('opentype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family : 'Biennale Regular';
    font-size: 14px;

    @media screen and (min-width: $mediaQueryDesktop){
        font-size: 16px;
    }
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 0;
}

input, select{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $primaryColor;
    min-width: 150px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $mediumGreyColor;
    outline: none;

    &:focus{
        border-bottom-color: $primaryColor;
    }

    &::placeholder{
        color: $mediumGreyColor;
        opacity: 1;
    }

    &:-ms-input-placeholder{
        color: $mediumGreyColor;
    }

    &::-ms-input-placeholder{
        color: $mediumGreyColor;
    }
}

button {
    border-radius: 12px;
    height: 56px;
    background-color: $mediumGreyColor;
    color: white;
    outline: none;
    border: none;
    padding: 5px 10px;

    &:hover {
        background-color: $primaryColor;
    }
}

@media screen and (min-width: $mediaQueryDesktop){
    input, select{
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid;
    }
}

.error {
    text-align: center;
    color: $errorColor;
    font-weight: bold;
}

@import './login.scss';